@charset "utf-8";*{margin:0;padding:0}
#bgaud{display:none}
#bgvid{min-width:100%;min-height:100%;background:url(../img/background.jpg) no-repeat;background-size:cover;position:absolute;right:0;bottom:0;z-index:-1;-webkit-filter:grayscale(10%);filter:grayscale(10%)}
video{display:block}
.logo{width:300px;height:120px;margin:0 auto;margin-top:20px;background:url(../img/logo.png) no-repeat center}
.no-select{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.title{width:500px;height:40px;color:#000;font-size:24px;line-height:40px;text-align:center;margin:0 auto;margin-top:15px;background:rgba(194,194,194,.5)}
.box{width:990px;height:60px;margin:0 auto;margin-top:150px;overflow:hidden}
.btn{display:block;width:230px;height:60px;color:#000;font-size:32px;line-height:60px;cursor:pointer;margin:0 auto;float:left;background:#c2c2c2}
.btn:nth-child(2){margin-left:150px}
.btn:nth-child(3){margin-left:150px}
.footer{width:550px;height:40px;font-size:16px;line-height:40px;text-align:center;margin:0 auto;margin-top:150px;background:rgba(194,194,194,.5)}